<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>My Movies</title>
    <style>
        body{
            background-color: lightcoral;
            opacity: .8%;
        }
        h1 {
            text-align: center;
            border-radius: 5px;
            font-family: Chalkboard;
            font-size: xx-large;
            box-shadow: #262626;
            -webkit-box-shadow: 5px 6px 10px 2px #0F0F0F;
            box-shadow: 5px 6px 10px 1px #0F0F0F;
            opacity: .7;
            background-color: lightgrey;
        }
        .nav-bar {
            float: right;
            list-style: none;
            display: inline;
            margin: 20px;
        }
        section {
            width: 80%;
            height: auto;
            margin: auto;
        }

        a:link {
            margin: 50px;
            font-size: large;
            font-weight: bold;
            text-decoration: none;
            color: #262626;
            size: 2em;
            cursor: pointer;
        }



    </style>
</head>
<body>
<section>
    <h1>My Movies</h1>
    <ul>
        <li class="nav-bar">movies</li>
        <li class="nav-bar">go</li>
        <li class="nav-bar">here</li>
    </ul>
    <a href="/movies/new">Add New Movie</a>
</section>
</body>
</html>