<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>My Movies</title>
    <style>
        body{
            background-color: lightcoral;
            opacity: .8%;
        }
        h1 {
            text-align: center;
            border-radius: 5px;
            font-family: Chalkboard;
            font-size: xx-large;
            box-shadow: #262626;
            -webkit-box-shadow: 5px 6px 10px 2px #0F0F0F;
            box-shadow: 5px 6px 10px 1px #0F0F0F;
            opacity: .7;
            background-color: lightgrey;
        }
        .nav-bar {
            /*float: right;*/
            list-style: none;
            margin: 10px;
        }
        section {
            width: 80%;
            height: auto;
            margin: auto;
            border-radius: 5px;
            background-color: lightgrey;
          box-shadow: #262626;
          -webkit-box-shadow: 5px 6px 10px 2px #0F0F0F;
          box-shadow: 5px 6px 10px 1px #0F0F0F;
          opacity: .7;
        }

        a:link {
            margin: 30px;
            font-size: large;
            font-weight: bold;
            text-decoration: none;
            color: #262626;
            size: 2em;
            cursor: pointer;
        }
        a:visited {
          color: #0F0F0F;
        }

    </style>
</head>
<body>
<section>
    <h1>My Movies</h1>
    <ul>
      <h2>Movies</h2>
      <% @movies.each do |movie| %>
        <li class="nav-bar">
         <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
        </li>
      <% end %>
    </ul>
    <a href="/movies/new">Add New Movie</a>
</section>
</body>
</html>